<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057988596602-3u6m87diitpsmskk3b0c8sp9rlp6nimn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057988596602-3u6m87diitpsmskk3b0c8sp9rlp6nimn</string>
	<key>API_KEY</key>
	<string>AIzaSyCeDDflLjjHRo-mC6ssBqFvbfmKAXu11x0</string>
	<key>GCM_SENDER_ID</key>
	<string>1057988596602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruhulaminjr.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-ruhulaminjr</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-ruhulaminjr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057988596602:ios:02d261d16a8211bf5e3cc3</string>
</dict>
</plist>